.Projectcard {
    width: 100%;
    max-height: inherit;
    line-height: 100%;
    margin-bottom:3%;
    /* box-sizing: border-box; */
}

@media all and (max-width: 950px) {
}

.projectContainer {
    /* border: 1px solid #CCC; */
    /* box-shadow: 1px 1px 1px 1px #CCC; */
    /* background: #fafafa; */
    /* box-shadow: 1px 1px 2px 2px #CCC; */
    /* border-radius: 10px; */
    display:inline-block;
    /* height: auto; */
    width: 100%;
    vertical-align: top;
    /* padding: 2% 5% 2% 5%; */
    text-decoration: none;
    font-size: 0.9em;
    /* transition: 0.1s ease-out; */
    /* margin: 0% 7% 7% 0%; */
}

